#colophon {
    background-color: #F0D8BE;
    color: #010101; 
    padding: 20px 0; 
    text-align: center; 
    margin-top: 1em;
}

.site-footer {

    a {
        color: #010101; 
        text-decoration: underline; 
        
        &:hover,
        &:focus {
            color: $color__link-hover; 
        }
    }

    .site-info {
        margin: 0 auto; 
        max-width: 960px; 
        padding: 0 20px;
    }

    .sep {
        margin: 0 10px;
    }
}