* {
    box-sizing: border-box;
    word-wrap: break-word;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;	
    
}

body {
	background-color: white;
}

@include links();


h1, h2 {
    font-family: $font__header;
    font-weight: 400;
}

p {
	font-family: $font__main;
	font-size: 1.2em;
	line-height: 1.5em;
}




// Overordnet layout

.site-header, .site-footer, .site-main, .site-content {
	margin: 0 auto;
	max-width: 1280px;
}

.site-main, .site-content {
	padding: 0 1em;
}


// Header før navigation

.site-branding {
	padding: 1em;
	float: left;
	vertical-align: bottom;
}

.site-title {
    font-size: 1.5em;
	font-weight: 700;
}

.site-title, .site-description {
	margin: 0;
	line-height: 1em;
	display: inline-block;
	vertical-align: bottom;
}

.site-description {
	margin-left: 0.5em;
	font-style: italic;
    font-size: 1em;
    margin-bottom: 0;
}

// Navigation - se _amber_navigation.scss

// Text på herobillede på frontpage

/* _header.scss */

.header-image-container {
    position: relative;
	
	.header-overlay {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: #fff;
		background: rgba(0, 0, 0, 0.5);
	
		padding: 1em;
		border-radius: 10px;

		h1{
			font-size: 2.5em;
		}

		p{
			font-size: 1.2em;
    		margin: 0 0 20px;
		}

		.header-button {

			@include button();
		}
	}
   
}

