#colophon {
    background-color: #F0D8BE; /* Background color */
    color: #010101; /* Text color */
    padding: 20px 0; /* Padding */
    text-align: center; /* Center align text */
}

.site-footer {
    a {
        color: #010101; /* Link color */
        text-decoration: underline; 
        
        &:hover,
        &:focus {
            color: $color__link-hover; 
        }
    }

    .site-info {
        margin: 0 auto; /* Center the content */
        max-width: 960px; /* Max width */
        padding: 0 20px; /* Padding */
    }

    .sep {
        margin: 0 10px; /* Spacing for separator */
    }
}