.main-navigation {
	display: block;
	width: 100%;
    

	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 1em;
		padding-right: 2em;
        justify-content: flex-end;

		ul {
			background-color: rgba(0, 0, 0, 0.7);
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 110px;
				color: $color__background-screen;
			}

			:hover > a,
			.focus > a {
				text-decoration: underline; // Har jeg sat ind
			}

			a:hover,
			a.focus {
				text-decoration: underline; // Har jeg sat ind
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
			text-decoration: underline;
		}
	}

	a {
		display: block;
		text-decoration: none;
        padding-left: 2em;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		text-decoration: underline; // Har jeg sat ind
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: none;
}

@media screen and (max-width: 900px) {

	.main-navigation button {
        background-color: $color__background-screen;
        border: none;
        transition: 0.3s ease;
		padding-bottom: 1.1em;

        &:hover {
            scale: 1.1;
        }
        .fa-bars {
            font-size: 1.8em;
        }
    }

    .menu-toggle {
        display: block;
        position: relative;
        margin-left: auto;
        margin-top: 0.5em;
    }

    .main-navigation ul {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        width: 35%; /* Adjust width to 100% */
        right: 0;
        z-index: 1000;
		padding: 1em 0;
		align-items: center;

		a {
			color: $color__background-screen;
		}
    }

    .main-navigation.toggled ul {
		display: flex; /* Show menu items when toggled */

	}

	.main-navigation.toggled > a {
		font-weight: 800 !important;
		
	}
    
	.main-navigation.toggled ul ul {
        display: flex; 
        flex-direction: column;
        position: static;
        width: 100%;
		box-shadow: none;
		padding-left: 1em;
		background-color: rgba(0, 0, 0, 0);

		a {
			font-style: italic;
			color: $color__background-screen;
		}
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}


@media screen and (min-width: 901px) {
    .main-navigation ul {
        display: flex !important; 
    }

    .menu-toggle {
        display: none; 
    }

	
}



@media screen and (max-width: 600px) {

	#site-navigation {
		display: flex;
		flex-direction: column;
	}
	
	#primary-menu {
		align-content: center;

		a {
			padding-left: 0;
			padding-bottom: 0.5em;
		}
	}

	.menu-toggle {
		display: flex;
		margin: 0 auto;
	}

	.main-navigation ul {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        width: 100%;
		padding: 1em 0;
		align-items: center;
		padding-left: 0;
    }

}
