// Generelt styling

* {
    box-sizing: border-box;
    word-wrap: break-word;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;	
    
}

body {
	background-color: white;
}

@include links();


h1, h2 {
    font-family: $font__header;
    font-weight: 400;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
}

p {
	font-family: $font__main;
	font-size: 1.2em;
	line-height: 1.5em;
}

.site-header, .site-footer, .site-main, .site-content {
	margin: 0 auto;
	max-width: 1280px;
}




//***********************************************/ 
// Venstre side af navigation 

.site-branding {
	padding: 1em;
	float: left;

	.site-title {
		font-size: 1.5em;
		font-weight: 700;
	}

	.site-title, .site-description {
		margin: 0;
		line-height: 1em;
		display: inline-block;
		vertical-align: center;
	}

	.site-description {
		margin-left: 0.5em;
		font-style: italic;
		font-size: 1em;
		margin-bottom: 0;
	}
}

//***********************************************/
// Navigation - se _amber_navigation.scss


//**********************************************/
// Text på herobillede på frontpage

.header-image-container {
    position: relative;
	height: 100%;

	img{
		filter: brightness(50%);
	}
	
	.header-overlay {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: $color__background-screen;
		padding: 1em 2em 2em;
		border-radius: 10px;

		h1{
			font-size: 4.2em;
			margin: 0;
			padding: 0.5em 0;
		}

		p{
			font-size: 1.2em;
			margin-top: 0;
			padding: 0 2em ;
		}

		.header-button {
			@include button-header();
		}
	}
   
}

//***********************************************/ 
/* Forside sektion med ikoner */

.front-page-icons {
    display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-around;
    padding: 3em 0;
    text-align: center;

    .icon-box {
        flex: 1;
        margin: 0 1em;

        i {
            font-size: 3em;
            color: $color__text-screen; 
        }

        p {
            margin-top: 0.5em;
            font-size: 1.2em;
            color: #666; 
    	}

	}
}
.line {
	margin: 5px 0;
	height: 4px;
	background:
	  repeating-linear-gradient(90deg,#000000 0 15px,#0000 0 25px)
  }

//***********************************************/ 
/* Forside sektion med lille galleri */

.small-gallery-container {
	background-color: $color__background-lightgreen;
	padding: 6em 1em 4em 0;
	display: flex;
	
		
		.small-gallery-box {
			border: 4px solid $color__text-screen;
			background-color: $color__background-beige;
			width: 80%;
			margin: 0 2em;
			display: flex;
			align-items: end;
			box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.8);
	
			h2{
				padding: 0.5em;
				padding-top: 4em;
				margin: 0;
			}
		}
	
		.small-gallery-text {
			display: flex;
			flex-direction: column;
			width: 350px;
			padding: 2em 2.5em;
			
			p {
				color: $color__background-beige;
			}

			a {
				color: $color__background-beige;
				font-size: 1.2em;
				text-transform: uppercase;
				font-family: $font__main;
				font-weight: 550;
			}
		}

		.gallery {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 10px; /* Adjust the gap between images as needed */
			margin: 0 0 2em 4em;
		}
		
		.gallery-item {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			overflow: hidden;
		
			img {
				width: 100%;
				object-fit: cover; 
			}
		}
}


//***********************************************/ 
/* Forside qoute */

.quote-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 800px;
	margin: 4em auto;
	padding: 0 2em;

	.fa-quote-left {
		font-size: 4em;
	}

	h2 {
		margin: 0;
		padding-left: 1em;
	}

	p {
		text-align: right;
	}

	a {
		@include site-button();
	}
}



//***********************************************/ 
//***********************************************/ 
//Responsivitet

//Responsivitet Header med billede og text

@media screen and (max-width: 950px) {

	.header-image-container {
		
		.header-overlay {
			h1 {
				font-size: 3.2em;
			}

		}
	}
}

@media screen and (max-width: 900px) {

	h1 {
		font-size: 3.2em;
	}
	h2 {
		font-size: 2.5em;
	}

	.small-gallery-container {
		flex-direction: column;

		.gallery {
			margin-left: 2em;
		}
	}

	.box-text-wrapper {
		display: flex;
		padding-bottom: 2em;

		.small-gallery-box {
			width: 45%;
		}
	}
}

@media screen and (max-width: 750px) {

	h1 {
		font-size: 2.8em;
	}

	h2 {
		font-size: 2em;
	}

	.header-image-container {

		.header-overlay {
			padding: 1em 1em 2em 1em ;
			
			h1 {
				font-size: 2.8em;
			}
		}
	}

}

@media screen and (max-width: 600px) {

	h1 {
		font-size: 2.2em;
	}
	h2 {
		font-size: 1.8em;
	}

	.header-image-container {
		
		.header-overlay {
			h1 {
				font-size: 2.2em;
			}

			p {
				font-size: 1em;
			}
		}
	}

	
	.box-text-wrapper {
		display: flex;
		flex-direction: column;
		padding-bottom: 2em;

		.small-gallery-box {
			width: 90%;
		}

		.small-gallery-text {
			width: 100%;
			padding-right: 0em;
		}
	}

	
}

@media screen and (max-width: 425px) {

	.site-branding {

		.site-title {
			font-size: 1em;
		}

		.site-description {
			font-size: 0.8em;
		}
	}

	.header-image-container {
		
		.header-overlay {
			h1 {
				font-size: 1.8em;
			}

			p {
				font-size: 1em;
			}
		}
	}

	.front-page-icons {
		flex-direction: column;
	}

	.small-gallery-container {

		.gallery {
			display: flex;
			flex-direction: column;
		}
	}
	
}

@media screen and (max-width: 375px) {

	.header-image-container {
		height: 30vh;
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	
}