* {
    box-sizing: border-box;
    word-wrap: break-word;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;	
    
}

body {
	background-color: white;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-family: $font__header;
    font-weight: 400;
}


// Header før navigation

.site-branding {
	padding: 1em;
	float: left;
}

.site-title {
    font-size: 1.5em;
	font-weight: 700;
}

.site-title, .site-description {
	margin: 0;
	line-height: 1em;
	display: inline-block;
	vertical-align: bottom;
}

.site-description {
	margin-left: 0.5em;
	font-style: italic;
    font-size: 1em;
    margin-bottom: 0;
}





// Main area

.content-area {
    background-color: #fff;
    margin: 0 auto;
    max-width: 1440px;
}

.entry-title {
    margin: 0;
}



//Navigation

.main-navigation {
	clear:none;
	float: none;
	width: auto;
	ul {
		float: right;
		padding: 0 1em;
		li {
			float: left;
			a {
				padding: 1em;
			}
			ul {
				display: none;
			}
		}
	}
}

.menu-toggle {
	float: right;
	margin: 1em;
}



//Temp color guide

.site-header {
    @include guide;
}

.hentry, .comments-area, .page-header, .site-main .posts-navigation, .paging-navigation {
    @include guide;
}

.widget {
    @include guide;
}

.site-footer {
    @include guide;
}