
@mixin links(){
	a {
		color: $color__link;
		text-decoration: none;

		&:visited {
			color: $color__link-visited;
		}

		&:hover,
		&:focus,
		&:active {
			color: $color__link-hover;
		}

		&:focus {
			outline: thin dotted;
		}

		&:hover,
		&:active {
			outline: 0;
		}
	}
}

@mixin button-header {
	font-family: $font__main;
    padding: 0.3em 3em;
    font-size: 1.2em;
	border: 2px solid $color__background-body;
	color: $color__background-body;
    text-decoration: none;
    border-radius: 50px;

	&:hover {
		
		background-color: $color__background-button-hover;
		color: $color__text-button-hover;
		
	}
}